*   {padding: 0; margin: 0; box-sizing: border-box; }
body{padding: 20px; background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%); background-repeat: no-repeat; background-size: cover;
 width: 100%; font-family: 'Source Code Pro', monospace; color: #fff; }
.title {  font-family: 'Merriweather', serif; font-size: 4.5rem;  font-weight: 900;width: 80%; }
.center  { margin: 0px auto; padding: 0; width: 80%; }
.info    { text-align: left; width: 70%; font-size: 2.5rem;  margin-top:50px; font-weight: 200; }
.objetivo{  display: flex; justify-content: center; flex-direction:column; align-items: center;  margin-top:50px; background-color: transparent;  text-align: left; padding: 50px; width: 100%;  font-size: 1.5em; font-weight: 900;}
.objetivo > div{ display: grid; grid-template-columns: 2;  grid-template-areas: "img p"; width: 700px}
.whats{ background-color: #00E576;color: #fafcfd;}
.face { color: #fff; background-color: #2a5297; padding: .5em;} 
.insta{  color: #fff; background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045); }
.objetivo > div > img{ display: flex; align-items: flex-start; width: 100px; grid-area: img; text-align: right; }
.objetivo > div > p{   grid-area: p; align-self:center;  align-items: left; justify-content: center; text-align: left;  }
.msg{ font-size: 40px; text-transform: uppercase;  font-family: 'Merriweather', serif; }
.black{ background-color: #000; color: #fff; border: none; outline: none; width: 300px; padding: 5px; margin-top: 10px; font-size: 20px; font-weight: 900; }
.black:hover{background-color: #330867;  }
form > input[type="text"],form > input[type="email"] {box-shadow: 0px 4px 16px #330867; outline: none; border: none; width: 400px; font-size: 1.5em;  text-align: center; color: #330867; font-family: 'Source Code Pro', monospace; font-weight: 900; margin-top: 20px;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
 color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
 color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
ul{list-style: none;}
a>img{  width: 25px; align-self:  right; }
li>a{ transition: all 1s; display: grid; width:250px; grid-template-columns: repeat(2,1fr);  color: #fff; padding: 5px; text-decoration: none; font-weight: 900;}
li{ padding: 10px; width: 250px; background-color: #000; margin-top: 1rem;}
#string{ display: inline; }
.jw_string{ font-size: 2.5em; }
.ins:hover{ background: linear-gradient(to right, #8a2387, #e94057, #f27121); }
.you:hover{ background: linear-gradient(to right, #93291e,#ed213a );} 
footer{ min-height: 450px;}

@media(max-width: 720px ) { 

.title{ font-size: 2.4em; }
.objetivo > div{ display: grid; grid-template-columns: 2;  grid-template-areas: "img p"; width: 100%; font-size: .9em; }
.jw_string {font-size: 1.5em;}
.objetivo > div > img{  width: 70px;}
}
.artecode{ width: 250px; }
.apoio{ margin-top: 50px; padding: 1em; }

